<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th (click)="sort('vreme')">
        Total Time in Month<i class="fa fa-sort"></i>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody
    *ngFor="
      let member of members
        | orderBy: key:reverse
        | paginate: { itemsPerPage: 5, currentPage: p }
    "
  >
    <tr
      *ngIf="
        manjeOdStoSati(member.StarTimeUtc, member.EndTimeUtc);
        else elseBlock
      "
    >
      <td>{{ member.EmployeeName }}</td>
      <td>{{ member.vreme }} hrs</td>
      <td><a>Edit</a></td>
    </tr>
    <ng-template #elseBlock
      ><tr style="background-color: rgb(240, 107, 107)">
        <td>{{ member.EmployeeName }}</td>
        <td>{{ member.vreme }} hrs</td>
        <td><a>Edit</a></td>
      </tr></ng-template
    >
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
